.sort-blog{
  border: 1px solid rgba(91, 91, 91, 0.2);
  width: 15rem;
  height: 4rem;
  color: rgb(91, 91, 91);
  font-size: 1.7rem;
  cursor: pointer;
  outline: none;
}

.textarea-comment{
  border: 1px solid rgba(91, 91, 91, 0.2);
  width: 100%;
  height: 15rem;
  outline: none;
  padding: 3rem;
  font-size: 1.7rem;
  color: black;
  resize: none;
}

.comment-post-btn{
  width: 15rem;
  height: 5rem;
  outline: none;
  cursor: pointer;
  border: 1px solid rgba(91, 91, 91, 0.2);
  background-color: white;
  color: rgba(91, 91, 91);
  font-size: 1.7rem;
  transition: .3s ease-in-out;
  &:hover{
    color: #ffa117;
    border: 1px solid #ffa117;
  }
}

.input-text{
  display: block;
  width: 35rem;
  height: 5rem;
  padding-left: 1rem;
  color: black;
  outline: none;
  border: 1px solid rgba(91, 91, 91, 0.2);
  &:focus{
    border: 1px solid #ffa117;
  }
}
.textarea-contact{
  border: 1px solid rgba(91, 91, 91, 0.2);
  width: 35rem;
  height: 15rem;
  outline: none;
  padding: 1rem;
  font-size: 1.7rem;
  color: black;
  resize: none;
  &:focus{
    border: 1px solid #ffa117;
  }
}

.select-reasons-contact{
  display: block;
  width: 35rem;
  height: 5rem;
  padding-left: 1rem;
  color: black;
  outline: none;
  border: 1px solid rgba(91, 91, 91, 0.2);
}

.blog-title-input{
  display: block;
  width: 100%;
  height: 5rem;
  padding-left: 1rem;
  color: black;
  outline: none;
  font-size: 3rem;
  border: 1px solid rgba(91, 91, 91, 0.2);
  &:focus{
    border: 1px solid #ffa117;
  }
}

.blog-category-select{
  display: block;
  width: 35rem;
  height: 5rem;
  padding-left: 1rem;
  color: black;
  outline: none;
  font-size: 3rem;
  border: 1px solid rgba(91, 91, 91, 0.2);
  cursor: pointer;
}

.textarea-blog-text{
  border: 1px solid rgba(91, 91, 91, 0.2);
  width: 100%;
  height: 25rem;
  outline: none;
  padding: 1rem;
  font-size: 1.7rem;
  color: black;
  resize: none;
  &:focus{
    border: 1px solid #ffa117;
  }
}

.post-blog-btn{
  margin-top: 1.5rem;
  width: 15rem;
  height: 5rem;
  outline: none;
  cursor: pointer;
  border: 1px solid rgba(91, 91, 91, 0.2);
  background-color: white;
  color: rgba(91, 91, 91);
  font-size: 1.7rem;
  transition: .3s ease-in-out;
  &:hover{
    color: #ffa117;
    border: 1px solid #ffa117;
  }
}