*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

@media only screen and (max-width: 1800px) {
  html {
    font-size: 58.5%;
  }
}

@media only screen and (max-width: 1600px) {
  html {
    font-size: 52.5%;
  }
}

@media only screen and (max-width: 1400px) {
  html {
    font-size: 45.5%;
  }
}

/*// xl*/
@media only screen and (max-width: 1200px) {
  html {
    font-size: 43.5%;
  }
}

/*/ lg /*/
@media only screen and (max-width: 991px) {

  .wrap{
    padding-right: 4rem;
    padding-left: 4rem;
    width: 100%;
  }


  /*burger meni*/
  html {
    font-size: 42.5%;
  }
  nav ul {
    margin-right: 0px;
    float: left;
  }
  nav .logo {
    padding-left: 30px;
    width: 100%;
  }
  .show + a, ul {
    display: none;
  }
  nav ul li, nav ul ul li {
    display: block;
    width: 100%;
  }
  nav ul li a:hover {
    box-shadow: none;
  }
  .show {
    display: block;
    color: #ffa117;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover {
    color: rgb(91, 91, 91);
  }
  .icon {
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  nav ul ul {
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul a {
    padding-left: 40px;
  }
  nav ul ul ul a {
    padding-left: 80px;
  }
  nav ul ul ul li {
    position: static;
  }
  [id^=btn]:checked + ul {
    display: block;
  }
  nav ul ul li {
    border-bottom: 0px;
  }
  span.cancel:before {
    content: '\f00d';
  }
}

/*// md*/
@media only screen and (max-width: 767px) {
  html {
    font-size: 41.5%;
  }

}

/*// sm*/
@media only screen and (max-width: 576px) {
  html {
    font-size: 40.5%;
  }

}

@media only screen and (max-width: 450px) {
  html {
    font-size: 38.5%;
  }

}

@media only screen and (max-width: 360px) {
  html {
    font-size: 36.5%;
  }
}