@charset "UTF-8";
/*INDEX*/
.art-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 20rem;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: whitesmoke;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.art-container:hover {
  background-color: white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.art-container-box-l {
  flex-basis: 25%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.art-container-box-r {
  flex-basis: 72%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding-right: 3rem;
}

.procitaj {
  color: #5b5b5b;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.procitaj:hover {
  color: #ffa117;
}

/*ABOUT*/
.color-b {
  color: black;
}

.color-w {
  color: white;
}

.color-g {
  color: green;
}

.color-gray {
  color: #5b5b5b;
}

.color-blu {
  color: #2780e6;
}

.color-org {
  color: #ffa117;
}

.f-w-b {
  font-weight: 700;
}

.f-w-l {
  font-weight: 300;
}

.f-s-i {
  font-style: italic;
}

/*aline text*/
.align-text-right {
  text-align: right !important;
}

.heading-1 {
  font-size: 1.7rem;
}

.heading-2 {
  font-size: 2.7rem;
}

.heading-3 {
  font-size: 3.7rem;
}

.heading-4 {
  font-size: 4.7rem;
}

.heading-5 {
  font-size: 5.7rem;
}

.heading-6 {
  font-size: 6.7rem;
}

.heading-7 {
  font-size: 7.7rem;
}

.heading-8 {
  font-size: 8.7rem;
}

.font-1 {
  font-size: 1rem;
}

.font-2 {
  font-size: 2rem;
}

.font-3 {
  font-size: 3rem;
}

.font-4 {
  font-size: 4rem;
}

.font-5 {
  font-size: 5rem;
}

.font-6 {
  font-size: 6rem;
}

.font-7 {
  font-size: 7rem;
}

.font-8 {
  font-size: 8rem;
}

.line-1 {
  line-height: 0.1rem;
}

.line-2 {
  line-height: 0.2rem;
}

.line-3 {
  line-height: 0.3rem;
}

.line-4 {
  line-height: 0.4rem;
}

.line-5 {
  line-height: 0.5rem;
}

.line-6 {
  line-height: 0.6rem;
}

.line-7 {
  line-height: 0.7rem;
}

.line-8 {
  line-height: 0.8rem;
}

.line-9 {
  line-height: 0.9rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html h1 {
  font-weight: normal;
}
html h2 {
  font-weight: normal;
}
html h3 {
  font-weight: normal;
}

*,
*::before,
*::after {
  font-family: "Alata";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*   outline: solid 1px red !important;*/
}

/*margins*/
.margin-t-10 {
  margin-top: 10rem;
}

.margin-t-20 {
  margin-top: 20rem;
}

.margin-t-30 {
  margin-top: 30rem;
}

.margin-t-40 {
  margin-top: 40rem;
}

.margin-t-50 {
  margin-top: 50rem;
}

.margin-t-60 {
  margin-top: 60rem;
}

.margin-t-11 {
  margin-top: 11rem;
}

.margin-t-12 {
  margin-top: 12rem;
}

.margin-t-13 {
  margin-top: 13rem;
}

.margin-t-14 {
  margin-top: 14rem;
}

.margin-t-15 {
  margin-top: 15rem;
}

.margin-t-16 {
  margin-top: 16rem;
}

.margin-b-10 {
  margin-bottom: 10rem;
}

.margin-b-20 {
  margin-bottom: 20rem;
}

.margin-b-30 {
  margin-bottom: 30rem;
}

.margin-b-40 {
  margin-bottom: 40rem;
}

.margin-b-50 {
  margin-bottom: 50rem;
}

.margin-b-60 {
  margin-bottom: 60rem;
}

.margin-tb-1 {
  margin: 1rem 0;
}

.margin-tb-2 {
  margin: 2rem 0;
}

.margin-tb-3 {
  margin: 3rem 0;
}

.margin-tb-4 {
  margin: 4rem 0;
}

.margin-tb-5 {
  margin: 5rem 0;
}

.margin-tb-6 {
  margin: 6rem 0;
}

.margin-tb-7 {
  margin: 7rem 0;
}

.margin-tb-8 {
  margin: 8rem 0;
}

.margin-tb-9 {
  margin: 9rem 0;
}

.margin-tb-10 {
  margin: 10rem 0;
}

.margin-t-1 {
  margin-top: 1rem;
}

.margin-t-2 {
  margin-top: 2rem;
}

.margin-t-3 {
  margin-top: 3rem;
}

.margin-t-4 {
  margin-top: 4rem;
}

.margin-t-5 {
  margin-top: 5rem;
}

.margin-t-6 {
  margin-top: 6rem;
}

.margin-t-7 {
  margin-top: 7rem;
}

.margin-t-8 {
  margin-top: 8rem;
}

.margin-t-9 {
  margin-top: 9rem;
}

.margin-b-1 {
  margin-bottom: 1rem;
}

.margin-b-2 {
  margin-bottom: 2rem;
}

.margin-b-3 {
  margin-bottom: 3rem;
}

.margin-b-4 {
  margin-bottom: 4rem;
}

.margin-b-5 {
  margin-bottom: 5rem;
}

.margin-b-6 {
  margin-bottom: 6rem;
}

.margin-b-7 {
  margin-bottom: 7rem;
}

.margin-b-8 {
  margin-bottom: 8rem;
}

.margin-b-9 {
  margin-bottom: 9rem;
}

.margin-l-1 {
  margin-left: 1rem;
}

.margin-l-2 {
  margin-left: 2rem;
}

.margin-l-3 {
  margin-left: 3rem;
}

.margin-l-4 {
  margin-left: 4rem;
}

.margin-l-5 {
  margin-left: 5rem;
}

.margin-l-6 {
  margin-left: 6rem;
}

.margin-l-7 {
  margin-left: 7rem;
}

.margin-l-8 {
  margin-left: 8rem;
}

.margin-l-9 {
  margin-left: 9rem;
}

.margin-r-1 {
  margin-right: 1rem;
}

.margin-r-2 {
  margin-right: 2rem;
}

.margin-r-3 {
  margin-right: 3rem;
}

.margin-r-4 {
  margin-right: 4rem;
}

.margin-r-5 {
  margin-right: 5rem;
}

.margin-r-6 {
  margin-right: 6rem;
}

.margin-r-7 {
  margin-right: 7rem;
}

.margin-r-8 {
  margin-right: 8rem;
}

.margin-r-9 {
  margin-right: 9rem;
}

/*paddings*/
.padding-t-10 {
  padding-top: 10rem;
}

.padding-t-20 {
  padding-top: 20rem;
}

.padding-t-30 {
  padding-top: 30rem;
}

.padding-t-40 {
  padding-top: 40rem;
}

.padding-t-50 {
  padding-top: 50rem;
}

.padding-t-60 {
  padding-top: 60rem;
}

.padding-b-10 {
  padding-bottom: 10rem;
}

.padding-b-20 {
  padding-bottom: 20rem;
}

.padding-b-30 {
  padding-bottom: 30rem;
}

.padding-b-40 {
  padding-bottom: 40rem;
}

.padding-b-50 {
  padding-bottom: 50rem;
}

.padding-b-60 {
  padding-bottom: 60rem;
}

.padding-tb-1 {
  padding: 1rem 0;
}

.padding-tb-2 {
  padding: 2rem 0;
}

.padding-tb-3 {
  padding: 3rem 0;
}

.padding-tb-4 {
  padding: 4rem 0;
}

.padding-tb-5 {
  padding: 5rem 0;
}

.padding-tb-6 {
  padding: 6rem 0;
}

.padding-tb-7 {
  padding: 7rem 0;
}

.padding-tb-8 {
  padding: 8rem 0;
}

.padding-tb-9 {
  padding: 9rem 0;
}

.padding-tb-10 {
  padding: 10rem 0;
}

.padding-t-1 {
  padding-top: 1rem;
}

.padding-t-2 {
  padding-top: 2rem;
}

.padding-t-3 {
  padding-top: 3rem;
}

.padding-t-4 {
  padding-top: 4rem;
}

.padding-t-5 {
  padding-top: 5rem;
}

.padding-t-6 {
  padding-top: 6rem;
}

.padding-t-7 {
  padding-top: 7rem;
}

.padding-t-8 {
  padding-top: 8rem;
}

.padding-t-9 {
  padding-top: 9rem;
}

.padding-b-1 {
  padding-bottom: 1rem;
}

.padding-b-2 {
  padding-bottom: 2rem;
}

.padding-b-3 {
  padding-bottom: 3rem;
}

.padding-b-4 {
  padding-bottom: 4rem;
}

.padding-b-5 {
  padding-bottom: 5rem;
}

.padding-b-6 {
  padding-bottom: 6rem;
}

.padding-b-7 {
  padding-bottom: 7rem;
}

.padding-b-8 {
  padding-bottom: 8rem;
}

.padding-b-9 {
  padding-bottom: 9rem;
}

.padding-lr-1 {
  padding: 0 1rem;
}

.padding-lr-2 {
  padding: 0 2rem;
}

.padding-lr-3 {
  padding: 0 3rem;
}

.padding-lr-4 {
  padding: 0 4rem;
}

.padding-lr-5 {
  padding: 0 5rem;
}

.padding-lr-6 {
  padding: 0 6rem;
}

.padding-lr-7 {
  padding: 0 7rem;
}

.padding-lr-8 {
  padding: 0 8rem;
}

.padding-lr-9 {
  padding: 0 9rem;
}

/*aligne*/
.al-center {
  display: flex;
  align-items: center;
}

/*text align*/
.al-text-c {
  text-align: center;
}

.al-text-l {
  text-align: left;
}

.al-text-r {
  text-align: right;
}

/*justify*/
.jc-center {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.jc-end {
  display: flex;
  justify-content: flex-end;
}

/*borders*/
.border-r {
  border: 1px solid red;
}

.border-b {
  border: 1px solid black;
}

.border-g {
  border: 1px solid green;
}

.border-bl {
  border: 1px solid blue;
}

/*index*/
.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-3 {
  z-index: 3;
}

.z-index-4 {
  z-index: 4;
}

.z-index-5 {
  z-index: 5;
}

.z-index-6 {
  z-index: 6;
}

.z-index-7 {
  z-index: 7;
}

.z-index-8 {
  z-index: 8;
}

.z-index-9 {
  z-index: 9;
}

/*containers*/
.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 137rem;
  height: max-content;
  position: relative;
}

.wrap-fix {
  width: 100%;
  position: fixed;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  position: relative;
}

.container-1 {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.container-1-box {
  display: flex;
  width: 100%;
  flex-basis: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.container-2 {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
  justify-content: space-between;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100%;
  height: max-content;
}

.container-2-box {
  flex-basis: 50%;
  text-align: left;
  position: relative;
}

.sort-blog {
  border: 1px solid rgba(91, 91, 91, 0.2);
  width: 15rem;
  height: 4rem;
  color: #5b5b5b;
  font-size: 1.7rem;
}

/*HEADER ABD BURGER MENU*/
* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f2f2f2;
}

nav {
  background: white;
  border-bottom: 1px solid rgba(91, 91, 91, 0.2);
}

nav:after {
  content: "";
  clear: both;
  display: table;
}

nav .logo {
  float: left;
  font-size: 27px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
}
nav .logo a {
  color: #ffa117;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
nav .logo a:hover {
  font-size: 28px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav ul {
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}

nav ul li {
  float: left;
  display: inline-block;
  background: white;
  margin: 0 5px;
}

nav ul li a {
  color: #ffa117;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
}

nav ul li a:hover {
  transition: 0.3s ease-in-out;
  color: #5b5b5b;
  border-radius: 5px;
}

nav ul ul li a:hover {
  box-shadow: none;
}

nav ul ul {
  position: absolute;
  top: 90px;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s;
}

nav ul ul ul {
  border-top: none;
}

nav ul li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
}

nav ul ul li {
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(91, 91, 91, 0.2);
  z-index: 3;
}

nav ul ul li a {
  line-height: 50px;
  cursor: pointer;
}

nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 150px;
}

.show, .icon, input {
  display: none;
}

.fa-plus {
  font-size: 15px;
  margin-left: 40px;
}

/*FOOTER*/
.footer {
  width: 100%;
  height: max-content;
  background-color: white;
  padding: 3rem;
}

.footer-div {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.svg-fb {
  width: 3rem;
  height: 3rem;
  fill: #ffa117;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.svg-fb:hover {
  fill: #4267B2;
}

.svg-gh {
  width: 3rem;
  height: 3rem;
  fill: #ffa117;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.svg-gh:hover {
  fill: #28a745;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 1800px) {
  html {
    font-size: 58.5%;
  }
}
@media only screen and (max-width: 1600px) {
  html {
    font-size: 52.5%;
  }
}
@media only screen and (max-width: 1400px) {
  html {
    font-size: 45.5%;
  }
}
/*// xl*/
@media only screen and (max-width: 1200px) {
  html {
    font-size: 43.5%;
  }
}
/*/ lg /*/
@media only screen and (max-width: 991px) {
  .wrap {
    padding-right: 4rem;
    padding-left: 4rem;
  }

  /*burger meni*/
  html {
    font-size: 42.5%;
  }

  nav ul {
    margin-right: 0px;
    float: left;
  }

  nav .logo {
    padding-left: 30px;
    width: 100%;
  }

  .show + a, ul {
    display: none;
  }

  nav ul li, nav ul ul li {
    display: block;
    width: 100%;
  }

  nav ul li a:hover {
    box-shadow: none;
  }

  .show {
    display: block;
    color: #ffa117;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }

  .show:hover {
    color: #5b5b5b;
  }

  .icon {
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }

  nav ul ul {
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }

  nav ul ul a {
    padding-left: 40px;
  }

  nav ul ul ul a {
    padding-left: 80px;
  }

  nav ul ul ul li {
    position: static;
  }

  [id^=btn]:checked + ul {
    display: block;
  }

  nav ul ul li {
    border-bottom: 0px;
  }

  span.cancel:before {
    content: "";
  }
}
/*// md*/
@media only screen and (max-width: 767px) {
  html {
    font-size: 41.5%;
  }
}
/*// sm*/
@media only screen and (max-width: 576px) {
  html {
    font-size: 40.5%;
  }
}
@media only screen and (max-width: 450px) {
  html {
    font-size: 38.5%;
  }
}
@media only screen and (max-width: 360px) {
  html {
    font-size: 36.5%;
  }
}

/*# sourceMappingURL=style.css.map */
